/* Font */
@font-face {
  font-family: "bebas_neuebold";
  src: url("bebasneue-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Body */

body {
  font: 18px/36px "bebas_neuebold";
  background-color: #ddd;
}

h1 {
  font-size: 80px;
  margin: 50px 0;
  text-align: center;
  text-shadow: 1px 1px 2px white;
}

.container {
  width: 800px;
  background-color: white;
  margin: auto;
  padding: 30px;
  box-shadow: inset 0 0 3px 3px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
}

.gallery li ,
.gallery li a img,
.gallery li span {
    border-radius: 50%;
}
.gallery li {
  width: 120px;
  height: 120px;
  /* overflow: hidden; */
  border: 5px solid #666;
  float: left;
  margin: 0 15px 0;
  position: relative;
}

.gallery span {
  display: block;
  width: 120px;
  height: 120px;
  background-color: rgba(200, 200, 200, 0.5);
  position: absolute;
  top: 0;
  text-align: center;
  line-height: 120px;
  color: darkslategray;
  text-shadow: 1px 1px 1px #ddd;
  opacity: 0;
  transition: 300ms;
  transform: scale(0) rotate(0);
}

 .gallery li a:hover span{
    opacity: 1;
    transform: scale(1) rotate(360deg);
 }


 /* Mentukan halaman transparan  */
.overlay{
    padding: 90px 0;
    width: 0;
    height: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0; 
    background-color: rgba(0, 0, 0, 0);
    /* mengatur tumpukan */
    z-index: 9999;
    transition: .6s;
    text-align: center;
}

/* target pada elemen dengan id */
.overlay:target{
    width: auto;
    height: auto;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.overlay img{
    max-height: 100%;
    box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.7);
}

.overlay:target img{
    animation: fade 1s;
}


.overlay .close {
    position: absolute;
    top: 60px;
    left: 50%;
    margin-left: -20px;
    color: white;
    text-decoration: none;
    background-color: red;
    border: 1px solid white;
    line-height: 15px;
   opacity: 0;
}

.overlay:target .close{
    animation: slideDown .5s .5s forwards;
}

.overlay:target .next,
.overlay:target .prev{
    animation: fade .5s .5s forwards;
}
/* Navigasi */
.next, .prev {
    width: 60px;
    height: 80px;
    background-image: url(../gambar/icon/right.png);
    position: absolute;
    text-indent:  -9999px;
    top: 40%;
    margin-left: 50px;
    opacity: 0;
}

.prev{
    background-image: url(../gambar/icon/left.png);
    margin-left: -100px;
}



/* Animasi */
@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@keyframes zoomexit {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100%{
        transform: scale(1);
        opacity: 1;
    }
    
}

@keyframes slideDown{
    0%{
        opacity: 0;
        margin-top: -20px;
    }
    100%{
        opacity: 1;
        margin-top: 0;
    }
}



.clear {
  clear: both;
}
